@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap");

:root {
  --colorLight: #e0e1e8;
  --colorDark: #221d17;
  --colorBase: #5a381b;
  --colorBaseL: #ecce9e;
  --colorAccent: #a0302d;

  --fontAccent: "Sofia Sans Semi Condensed, sans-serif";
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--colorBase);
  font-size: 1.2rem;
}
ul {
  list-style: none;
}

body {
  background-color: var(--colorLight);
  font-family: "EB Garamond", serif;
  color: var(--colorBase);
}
.head-top {
  padding: 5px 0;
  background-color: var(--colorLight);
}

.sale {
  overflow: hidden;
  max-height: 30px;
}
.sale div {
  animation: running-text 15s linear infinite;
}
.text {
  font-style: italic;
  font-size: 14pt;
  color: var(--colorBase);
  display: inline-block;
  padding: 0px 15px;
  text-align: center;
  margin: 0;
}

@keyframes running-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.head-top-right {
  max-height: 30px;
  color: var(--colorBase);
  gap: 10px;
}
.header {
  background-color: var(--colorDark);
  background-image: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-position: right;
  height: 410px;
  color: var(--colorBaseL);
}

.menu {
  gap: 20px;
  margin-top: 20px;
  background-color: var(--colorDark);
}
.menuItem {
  color: var(--colorBaseL);
}
.menuItem:hover {
  color: var(--colorLight);
  transition: 0.5 all ease;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 260px;
  margin: 0px 50px;
  background-color: var(--colorDark);
  opacity: 0.8;
}

#slogan {
  font-size: 24px;
}
.frame {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--colorBaseL);
  border-right: 3px solid var(--colorBaseL);
  width: 241px;
  height: 117px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
.cupcake {
  margin-top: 10px;
}
