@media screen and (max-width: 575px) {
  .cupcake {
    display: none;
  }
  .title {
    margin: 120px 10px;
  }
  .frame {
    padding: 0 30px;
  }
  .catalogueItem img {
    display: none;
  }
  
}

@media screen and (max-width: 767px) {
.catalogueChoice {
    visibility: hidden !important;
  }

}